!!!
%html
  %head
    %title Fast
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    =render partial: "shared/menu"
    - if flash[:alert]
      %p#alert= flash[:alert]
    - if flash[:notice]
      %p#notice= notice
    = yield